@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
  --color-primary: #ff9501;
  --color-secondary: #50e3c2;
  --color-background: #f5f7fa;
  --color-text: #4a4a4a;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
}

.menu {
  display: flex;
  gap: 8rem;
  align-items: center;
}

.logo {
  height: 3rem;
  width: 3rem;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.navbar {
  display: flex;
  align-items: center;
  padding: var(--spacing-large) 7%;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: var(--spacing-medium);
}

.nav-links li a {
  text-decoration: none;
  font-family: var(--font-family);
  color: var(--color-text);
  font-weight: 600;
  padding: 0 var(--spacing-medium);
  font-size: 14px;
}

.icons {
  display: flex;
  gap: var(--spacing-medium);
}

.nav-btns {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.nav-btn {
  padding: 0.75rem 3rem;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-family: var(--font-family);
}

.signup {
  background: black;
  color: white;
}

/* Hero Section Styling Starts Here */
.heroSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 10;

  /* padding: var(--spacing-large) 0%; */
  gap: 5rem;
}

.heroContent {
  flex: 1 1 70%;
  padding: 0 7%;
}

.heroText {
  width: 80%;
}

.heroText h1 {
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--color-text);
  margin-bottom: var(--spacing-large);
  font-family: var(--font-family);
}

/* From here  */
.heroText p {
  font-size: 1.1rem;
  color: var(--color-text);
  margin-bottom: var(--spacing-large);
  line-height: 1.6;
  font-family: var(--font-family);
  font-weight: 700;
}

.heroText span {
  color: var(--color-text);
  font-family: var(--font-family);
}
.heroText h2 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--color-primary);
  margin-bottom: var(--spacing-large);
  font-family: var(--font-family);
}
/* To Here */

.heroImage {
  flex: 1 1 30%;
  background: var(--color-primary);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImage img {
  width: 100%;
  padding-block: 5rem;
  margin-inline: auto;
}

.heroButtons {
  display: flex;
  gap: var(--spacing-medium);
  margin-top: var(--spacing-large);
}

.hero-btn {
  padding: 0.8rem 2rem;
  font-size: 1rem;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 600;
}

.discoverBtn {
  border: 1px solid #ff9501;
  background: transparent;
  color: var(--color-primary);
}
.shopNowBtn {
  background: var(--color-primary);
}

.features {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* FEATURES SECTION STYLING STARTS HERE */
.sectionTitle {
  text-align: center;
  color: var(--color-text);
  margin-bottom: var(--spacing-large);
  font-family: var(--font-family);
  position: relative;
}

.sectionTitle ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.sectionTitle ul li {
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: 20px;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--color-text);
}

.sectionTitle ul li.active,
.sectionTitle ul li:hover {
  background: var(--color-primary);
  color: #fff;
}

.sectionTitle ul li a {
  text-decoration: none;
  color: inherit;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  background: #f9f9f9;
  padding: var(--spacing-large);
}

.display-card {
  background: #fff;
  padding: var(--spacing-large);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-details {
  text-align: center;
  margin-top: var(--spacing-medium);
  font-family: var(--font-family);
}
.pagination {
  position: absolute;
  top: 2rem;
  right: 10%;
}

.pagination-btn {
  color: #000;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0 var(--spacing-small);
  text-decoration: none;
  cursor: pointer;
}

.pagination .active {
  color: var(--color-primary);
}
/* FEATURES SECTION STYLING ENDS HERE */

/* RECOMMENDED SECTION STYLING STARTS HERE  */
.recommended {
  min-height: 70vh;
}

.special-display {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}

.display-1 {
  flex: 1 1 50%;
  display: flex;
  padding: var(--spacing-large);
  border: 1px solid #ddd;
  border-radius: 5px;
  gap: 8rem;
  font-family: var(--font-family);
}

.display-1 p {
  margin: 2rem 0;
  font-size: 14px;
}
.rec-cta-btn {
  display: flex;
  align-items: center;

  gap: 2rem;
}

.price {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.new-price {
  font-size: 1.5rem;
  font-weight: 600;
}

.old-price {
  color: var(--color-primary);
  text-decoration: line-through;
  font-weight: 600;
}

.display-image {
  background: #ddd;
  padding: var(--spacing-large);
  height: 100%;
}

.display-2 {
  flex: 1 1 50%;
}
